    <!DOCTYPE html>
   <html  lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
      <meta charset="utf-8">
      <title>table模块快速使用</title>
      <link rel="stylesheet" href="../../layui1/css/layui.css" media="all">
    </head>
    <body>
     
    <table id="taskTable" lay-filter="test"></table>
     


	<script type="text/html" id="barDemo">
   <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
</script>
    <script  th:inline="none">
    layui.use('table', function(){
      var table = layui.table;
      var status = getCookie("item1");
      if (status == "null"||status==""||status==null) {
    	  status = -1;
      }
      //第一个实例
      table.render({
        elem: '#taskTable'
        ,height: 312
        ,url: '/task/finds' //数据接口
        ,page: true //开启分页
        ,where: {status:status}
        ,cols: [[ //表头
          {field: 'tno', title: '任务表', width:100, fixed: 'left'}
          ,{field: 'winame', title: '工作类型', width:100} 
          ,{field: 'releaseTime', title: '发布时间', width: 150}
          ,{field: 'checkTime', title: '结束时间', width: 150}
          ,{field: 'tasktype', title: '任务类型', width: 150}
          ,{field: 'title', title: '任务简介', width: 300}
          ,{fixed: 'right', title: '工具栏', width:150, align:'center', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器
        ]]
      });
      
    //监听工具条
      table.on('tool(test)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
        var data = obj.data; //获得当前行数据
        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
        var tr = obj.tr; //获得当前行 tr 的DOM对象
       	
        
        if(layEvent === 'detail'){ // 技能
  		  setCookie("item1", data.mno); 
  		  layer.open({
				content: '<div id="member-context"></div>'
				,resize : false
				,move: false
				,cancel: function(){ 
				//右上角关闭回调
				//return false 开启该代码可禁止点击该按钮关闭
			}
			});
  		  $("#member-context").load("/backjump/");
  	  	}
      });
    });
    
  
    </script>
    
    </body>
    </html>