<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Thymeleaf</title>
</head>
<body>
<table width="90%" cellpadding="0px" cellspacing="0px" align="center" rules="all" border="1px">
    <caption>管理员信息</caption>
    <thead>
        <tr>
            <td>编号</td>
            <td>账号</td>
            <td>密码</td>
            <td>电话</td>
        </tr>
    </thead>
    <tbody align="center">
        <tr th:each="admin : ${admins}">
            <td th:text="${adminStat.count}"></td>
            <td th:text="${admin.aname}"></td>
            <td th:text="${admin.pwd}"></td>
            <td th:text="${admin.tel}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>