<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hpt.mapper.IBillMapper">
    <select id="finds" resultType="BillShow"  >
select t1.Y year,t1.M mon,t1.D day
,t2.inm,t1.outm from (
 select date_format(bdate,'%Y-%m-%d') time,bdate,
 date_format(bdate,'%m') M,date_format(bdate,'%d') D,date_format(bdate,'%y') Y,
  sum(amount) outm, bi.mno
  from bill bi, billtype bt where bi.btno = bt.btno and 
moneyflow = 0 group by time) t1  LEFT JOIN 
  (
select date_format(bdate,'%Y-%m-%d') time,bdate,
date_format(bdate,'%m') M,date_format(bdate,'%d') D,date_format(bdate,'%y') Y,
  sum(amount) inm, bi.mno
  from bill bi, billtype bt where bi.btno = bt.btno and 
moneyflow = 1 group by time) t2 on t1.time=t2.time where t1.Y = #{year} and t1.M=#{mon}
 <if test="mno!=null and mno!=''">
        and t1.mno =#{mno}
    </if >
    </select>
    
    <select id="findYear" resultType="int"  >
 select distinct date_format(bdate,"%y") from bill 
  <if test="mno!=null and mno!=''">
        and mno =#{mno}
    </if >
    </select>
    
    
</mapper>