<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hpt.mapper.IIndustryMapper">
     <select id="findAll" resultType="Industry" parameterType="Industry" >
            select indno, indname from industry 
     
    </select>
     <insert id="add"  parameterType="Industry">
     		insert into industry values(null,#{indname});
     </insert>
     <update id="del" parameterType="Industry">
    	delete from industry where indno = #{indno}
    </update>
</mapper>