<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hpt.mapper.ISelectedMapper">
    <select id="findcount" resultType="int"  >
       select count(sbno)  from selected where mno = #{mno}

    
    </select>
    
     <!-- 用了MySQL的一个有趣的东西来给查询（包括条件查询出来的data）一个完整的编号
     例子 select (@id:= @id + 1) as id from (select @id := 0) b
    相当于建造了一个暂时的有一个自增的id的 b 表  
    然后用parameter 里的类来 放 （页数-1）*每页数据数，和页数*每页数据数来实现分页查询
    -->
     <select id="finds" resultType="Selected" parameterType="Selected" >
           select id, sbno, tno, mno, nickName, isselected from(
    select (@id:= @id + 1) as id,sbno, tno, mno, nickName, isselected from (select @id := 0) b,
(select sbno, tno, se.mno, me.nickName, isselected from selected se,memberInfo me where se.mno = me.mno
) tab) tab1
            where (id between #{sbno} and #{isselected})  and mno = #{mno}
    </select>
    
    <select id="findOne" resultType="Selected" parameterType="Selected">
    	select sbno, tno, se.mno, me.nickName, isselected,descr,picloc,uploadfile
 from selected se,memberInfo me where se.mno = me.mno and se.sbno = #{sbno};
    </select>
 
</mapper>