<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hpt.mapper.IWorksItemMapper">
	<!-- 分页查询时，查询总页数 -->
    <select id="findcount" resultType="int"  >
        select count(wino) from Worksitem w, industry id, works ws where w.wno=ws.wno and id.indno = ws.indno
    	<!-- 2个if 用在了条件查询  -->
    <if test="indno!=null and indno!=''">
        and id.indno = #{indno}
    </if >
    <if test="mno!=null and mno!=''">
        and ws.wno =#{mno}
    </if >
    </select>
    
    <!-- 用了MySQL的一个有趣的东西来给查询（包括条件查询出来的data）一个完整的编号
     例子 select (@id:= @id + 1) as id from (select @id := 0) b
    相当于建造了一个暂时的有一个自增的id的 b 表  
    然后用parameter 里的类来 放 （页数-1）*每页数据数，和页数*每页数据数来实现分页查询
    -->
     <select id="finds" resultType="WorksItem" parameterType="WorksItem" >
           select id,wino,winame , wname, indname from(
    select (@id:= @id + 1) as id,wino,winame , wname, indname from (select @id := 0) b,
(select wino,winame , wname, indname  from Worksitem w, industry id, works ws where w.wno=ws.wno and id.indno = ws.indno
    <!-- 2个if 用在了条件查询  -->
    <if test="indno!=null and indno!=''">
        and id.indno = #{indno}
    </if >
    <if test="wno!=null and wno!=''">
        and ws.wno =#{wno}
    </if >
) tab) tab1
            where (id between #{mno} and #{wino}) 
     
    </select>
    
    <insert id="add"  parameterType="WorksItem">
     		insert into Worksitem values(null,#{winame},#{wno});
    </insert>
    
    <update id="del" parameterType="WorksItem">
    	delete from Worksitem where wino = #{wino}
    </update>
    
         <select id="findAll" resultType="WorksItem" parameterType="WorksItem" >
            select wino, wno, winame from WorksItem where wno = #{wno}
     
    </select>
</mapper>